 azure-mgmt-nspkg==2.0.0
 azure-nspkg==2.0.0
 azure-storage==0.32.0
 cachetools==2.0.0
 certifi==2017.4.17
 chardet==3.0.4
 click==6.7
 Flask==0.11.1
 futures==3.1.1
 google-auth==1.0.1
 google-auth-httplib2==0.0.2
 google-cloud-core==0.25.0
 google-cloud-language==0.25.0
 googleapis-common-protos==1.5.2
 httplib2==0.10.3
 idna==2.5
 itsdangerous==0.24
 Jinja2==2.9.6
 MarkupSafe==1.0
 protobuf==3.3.0
 pyasn1==0.2.3
 pyasn1-modules==0.0.9
 python-dateutil==2.6.0
 redis==2.10.5
 requests==2.18.1
 Requires==0.0.3
 rsa==3.4.2
 six==1.10.0
 urllib3==1.26.5
 Werkzeug==0.15.3